body {
  background-color: beige;
}

.container{
  margin: auto;
  max-width: 600px;
  padding: 10px 30px;
  height: auto;
  background-color: lightgreen;
  border-radius: 10px;
}

.side {
  display: flex;
  flex-direction: row;
  align-items: center;
}

input, button {
  margin-left: 15px;
  height: 1.5em;
}

#answer {
  background-color: aquamarine;
  width: 100px;
  height: auto;
  border-radius: 5px;
  margin-left: 15px;
  text-align: center;
  transform: skewX(-15deg);
}